QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=api_docs
EMBEDDING_MODEL_NAME=mxbai-embed-large
VECTOR_SIZE=1024

API_KEY=ollama
OLLAMA_HOST=host.docker.internal
OLLAMA_PORT=11434
OLLAMA_MODEL=ollama/my-api-docs